body { background-color: #330000;
       font-family: Verdana, Arial, sans-serif;
       width:100%;
       text-align:center;
}

#wrapper { width: 100%;
           margin: auto;
		   background-color: #F4E8BC;
		   color: #330000;
		   box-shadow: 5px 5px 5px #000000;
       text-align:center;                 
}

h1 { background-image: url(images/Evil_Bug.png);
       background-size: contain;
     background-repeat: no-repeat;
     background-color: #F4E8BC;
	 height: 110px;
	 font-family: Georgia, "Times New Roman", serif;
	 font-size: 4.5em;
     padding-left: 220px;
	 padding-top: 20px;
	 text-shadow: 3px 3px 3px #90745D;
	 margin-bottom: 0;
   width:100%;
  text-align:center;
}

nav a { text-decoration: none; 
width:100%;}
nav a:link { color: #330000; 
width:100%;}
nav a:visited{ color: #90745D; 
width:100%;}
nav a:hover {        color:#FFFFCC;
width:100%;
               }


main { background-color: #FFFFCC;
          margin-left: 200px;
          padding: 1px 20px 20px 20px;   
		  min-height: 300px;
      width:100%;
}

main img { float: right;
              padding: 20px;
              width:100%;
}

footer { background-color: #FFFFCC;
       margin-left: 200px;
       padding: 20px;
       text-align: center;
	   font-size: small;
	   font-style: italic;
     width:100%;
}

.clear{
  clear: both;
}

@media only screen and (max-width: 720px){
    body, wrapper, h1, nav a, nav a:link, nav a:visited, nav a:hover, main, main img, footer, .clear { display: block;
    float: none;
    width:100%;
    text-align:center;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 0%;
    background-image: none;
    list-style-type: none;
    }

    li {
      border: 2px solid black;
    }
    nav ul {
      padding: 0%;
    }
    header h1 {

      height: 0%;
      
    }
}